<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Career</th>
      <th>Academy degree</th>
      <th>University</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.country %></td>
        <td><%= question.name %></td>
        <td><%= question.phone %></td>
        <td><%= question.career %></td>
        <td><%= question.academy_degree %></td>
        <td><%= question.university %></td>
        <td><%= question.body %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
