<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @question.country %>
</p>

<p>
  <strong>Name:</strong>
  <%= @question.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @question.phone %>
</p>

<p>
  <strong>Career:</strong>
  <%= @question.career %>
</p>

<p>
  <strong>Academy degree:</strong>
  <%= @question.academy_degree %>
</p>

<p>
  <strong>University:</strong>
  <%= @question.university %>
</p>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
