<%= form_with(model: contract, local: true) do |form| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
        <% contract.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Lugar' %>
    <%= form.text_field :place %>
  </div>

  <div class="field">
    <%= form.label 'Nombre completo'%>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :document_id %>
    <%= form.text_field :document_id %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :marital_status %>
    <% estados = ['Soltero', 'Casado']%>
    <%= form.select(:marital_status, estados, {:prompt => "Seleccione uno"})%>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :service_to_hire %>
    <% servicios = ['Desarrollo tema de tesis', 'Desarrollo plan de tesis', 'Desarrollo de tesis', 'Desarrollo de proceso completo(tema, plan y tesis)', 'Correcciones', 'Otros']%>
    <%= form.select(:service_to_hire, servicios, {:prompt => "Seleccione uno"})%>
  </div>

  <div class="field">
    <%= form.label :career %>
    <%= form.text_field :career %>
  </div>

  <div class="field">
    <%= form.label :academic_degree %>
    <%= form.text_field :academic_degree %>
  </div>

  <div class="field">
    <%= form.label :amount_pay %>
    <%= form.text_field :amount_pay %>
  </div>

  <div class="field">
    <%= form.label :fractional_payment %>
    <%= form.number_field :fractional_payment %>
  </div>

  <div class="field">
    <%= form.label :way_to_pay %>
    <% formas = ['Efectivo', 'Tarjeta', 'Pago en linea', 'Cheque', 'Deposito en caja de banco']%>
    <%= form.select(:way_to_pay, formas, {:prompt => "Seleccione uno"})%>
  </div>

  <div class="field">
    <%= form.label :type_of_service %>
    <% tipos_de_servicio = ['Servicio basico', 'Servicio completo']%>
    <%= form.select(:type_of_service, tipos_de_servicio, {:prompt => "Seleccione uno"})%>
  </div>

  <div class="field">
    <%= form.label :discover %>
    <% descubrimiento = ['Referencias','Volantes', 'Afiches', 'Facebook', 'Instagram', 'Twitter', 'Youtube', 'Google', 'Otros']%>
    <%= form.select(:discover, descubrimiento, {:prompt => "Seleccione uno"})%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
